@model SignInVM
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap">
	<link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/lib/hover.css/css/hover-min.css">
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
	<link rel="stylesheet" href="~/css/main.css">
	<link rel="stylesheet" href="~/css/signin.css">
	<title>Sahem - Sign In</title>
</head>
<body>
	<header class="header container">
		<nav class="navbar navbar-expand-lg navbar-light bg-gardient-light">
			<a class="navbar-brand fw-bold" href="#"><i class="fa-regular fa-hand-back-fist"></i><span>S</span>ahem</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#targetDrop">
				<i class="fa fa-bars"></i>
			</button>
		</nav>
	</header>
	<main class="layout overflow-hidden">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8 col-md-10 col-12">
					<div class="reg">
						<h2>Welcome back</h2>
						<p>Enter your email and password to sign in</p>
						<form method="post">
							<input hidden asp-for="fcmToken"/>
							<div class="mb-3 mt-3">
								<input asp-for="Email" class="form-control" placeholder="Email">
								<span asp-validation-for="Email" class="text-danger"></span>
							</div>
							<div class="mb-3 mt-3">
								<input asp-for="Password" type="password" class="form-control" placeholder="Password">
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>
							<div class="form-check form-switch">
								<input asp-for="RememberMe" class="form-check-input" checked>
								<label asp-for="RememberMe" class="form-check-label"></label>
							</div>
							<button type="submit" class="btn bg-gardient-dark text-uppercase hvr-grow">Sign In</button>
						</form>
						<p>Don't have an account? <a asp-controller="Account" asp-action="SignUp">Sign Up</a></p>
					</div>
				</div>
				<div class="image col-lg-4 col-md-2 col-0">
					<img src="~/imgs/3.jpg">
				</div>
			</div>
		</div>
		<footer class="info fixed-bottom">
			<p class="copy">Copyright &copy; 2022 Sahem by Medhat Team</p>
		</footer>
	</main>

	<script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
	<script src="~/lib/font-awesome/js/all.min.js"></script>
	<script src="~/lib/jquery/jquery.slim.min.js"></script>
	<partial name="_ValidationScriptsPartial" />
	<script type="module" src="~/js/notification.js"></script>
</body>
</html>