@model CreateMediatorVM

@{
    ViewData["Title"] = "Create Mediators";
}



<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Page/</span> Create Mediators form</h4>

<div class="col-xxl">
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Create new mediators</h5>
            <small class="text-muted float-end">mediators form</small>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="Name"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-rename'></i></span>
                            <input asp-for="Name"
                                   type="text"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   placeholder="Enter mediator Name ..."
                                   aria-describedby="basic-icon-default-fullname2" />
                        </div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="PhoneNumber"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-phone-call'></i></span>
                            <input asp-for="PhoneNumber"
                                   type="text"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   placeholder="Enter phone number ..."
                                   aria-describedby="basic-icon-default-fullname2" />
                        </div>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="NationalId"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-id-card'></i></span>
                            <input asp-for="NationalId"
                                   type="text"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   placeholder="Enter National ID ..."
                                   aria-describedby="basic-icon-default-fullname2" />
                        </div>
                        <span asp-validation-for="NationalId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="GenderId"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-category'></i></span>
                            <select asp-for="GenderId" class="form-control" asp-items="@(new SelectList(Model.Genders,"Id","Name"))"></select>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="SocialStatusId"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-star'></i></span>
                            <select asp-for="SocialStatusId" class="form-control" asp-items="@(new SelectList(Model.SocialStatus,"Id","Name"))"></select>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="NationalIdImage"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-id-card'></i></span>
                            <input asp-for="NationalIdImage"
                                   type="file"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   placeholder="Select national card image ..."
                                   aria-describedby="basic-icon-default-fullname2"
                                   id="formFile" />
                        </div>
                        <span asp-validation-for="NationalIdImage" class="text-danger"></span>
                    </div>
                </div>


                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="ProfileImage" for="customFile"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-id-card'></i></span>
                            <input asp-for="ProfileImage"
                                   type="file"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   placeholder="Select national card image ..."
                                   aria-describedby="basic-icon-default-fullname2"
                                   id="formFile" />
                        </div>
                        <span asp-validation-for="ProfileImage" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="Longitude"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-current-location'></i></span>
                            <input asp-for="Longitude" readonly
                                   class="form-control"
                                   aria-describedby="basic-icon-default-fullname2" />
                        </div>
                        <span asp-validation-for="Longitude" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="Latitude"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-current-location'></i></span>
                            <input asp-for="Latitude" readonly
                                   class="form-control"
                                   aria-describedby="basic-icon-default-fullname2" />
                        </div>
                        <span asp-validation-for="Latitude" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" asp-for="Details"></label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-current-location'></i></span>
                            <input asp-for="Details"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   aria-describedby="basic-icon-default-fullname2" />

                        </div>
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                </div>

                <div class=" col-sm-10" style="height: 250px; width: 100%;" id="map"></div>

                <div class="row justify-content-end mt-5 text-end">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <a asp-action="Index" asp-controller="Home" class="btn btn-dark">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
<script>
    function initMap() {
        console.log('hello my map')
        var options = {
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            center: {
                lat: 30.0444,
                lng: 31.2357
            }
        }

        //a new map
        var map = new google.maps.Map(document.getElementById('map'), options)
        var marker
        addMarker({
            coords: {
                lat: 30.0444,
                lng: 31.2357
            },
            iconImage: ""

        })

        function addMarker(props) {
            marker = new google.maps.Marker({
                position: props.coords,
                map: map,
                icon: props.iconImage

            })
        }
        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(event.latLng);
        });

        function placeMarker(location) {
            if (marker == undefined) {
                marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    animation: google.maps.Animation.DROP,
                });
            } else {
                marker.setPosition(location);
            }
            document.getElementById('Latitude').value = location.lat();
            document.getElementById('Longitude').value = location.lng();
        }
    }
</script>
}

