@model GovernorateVM

@{
    ViewData["Title"] = "Create Governorate";
}

<hr />

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Page/</span> Create New Governorate</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    
                    <small class="text-muted float-end">New Governorate</small>
                </div>
                <div class="card-body">
                    <form asp-action="create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" label asp-for="Name"></label>
                            <div class="col-sm-6">
                                <input type="text" asp-for="Name" class="form-control" id="basic-default-name" placeholder="Enter Governorate name ...." />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                         <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" label asp-for="Name_AR"></label>
                            <div class="col-sm-6">
                                <input type="text" asp-for="Name_AR" class="form-control" id="basic-default-name" placeholder="Enter Governorate Arabic name ...." />
                                <span asp-validation-for="Name_AR" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" asp-for="Image"></label>
                            <div class="col-sm-6">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-id-card'></i></span>
                                    <input asp-for="Image"
                                           type="file"
                                           class="form-control"
                                           id="basic-icon-default-fullname"
                                           placeholder="Select Category Image ..."
                                           aria-describedby="basic-icon-default-fullname2"
                                           id="formFile" />
                                </div>
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row justify-content-end">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Create</button>
                                <a asp-action="Index" class="btn btn-dark">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Basic with Icons -->

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
