@model RegionVM

@{
	ViewData["Title"] = "Create Region";
}

<hr />

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Page/</span> Create New Region</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    
                    <small class="text-muted float-end">New Region</small>
                </div>
                <div class="card-body">
                    <form asp-action="create" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row mb-3">
                            <label  asp-for="GovernorateId" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-6">
                                <select id="ddlGovernorate" asp-for="GovernorateId" class="form-control" id="basic-default-name" asp-items="@(new SelectList(Model.Governorates,"Id","Name"))"></select>
                                <span asp-validation-for="GovernorateId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label  asp-for="CityId" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-6">
                               <select id="ddlCity" asp-for="CityId" class="form-control" id="basic-default-name" asp-items="@(new SelectList(string.Empty,"Id","Name"))"></select>
                                <span asp-validation-for="CityId" class="text-danger"></span>
                            </div>
                        </div>
                         <div class="row mb-3">
                            <label  asp-for="Name" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-6">
                               <input type="text" asp-for="Name" class="form-control" id="basic-default-name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Create</button>
                                <a asp-action="Index" class="btn btn-dark">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Basic with Icons -->




@section Scripts {
    @{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

<script>
	let governoratesList = document.getElementById('ddlGovernorate');
	governoratesList.onchange = updateCitiesList;

	let citiesList = $('#ddlCity');

	$(document).ready(updateCitiesList);

	function updateCitiesList() {
		$.getJSON('/api/cities/' + governoratesList.value, function(result) {
			citiesList.empty();
			result.data.forEach(d => citiesList.append(new Option(d.name, d.id)));
		});
	}
</script>
}
